#beepic {
  display: none;
}

button {

  background-color: #D75C37;
}

body {
  background-color: #4E565C;
  color: #C3D7DF;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

.panel-body {
  color: #4E565C;
}
